nav{
  padding: 0;
  margin: 0;
  background: photos/navBackground.jpg;
  width: 100%;
  height: 80px;
  font-size: 18;
  font-family: sans-serif;
}


div{
  border-color: black;
  border-width: 30px;
  padding: 50;
  width: 250px;
  height: 18px;
  color: white;
  align-items: center;
  background-color: #C9A74A;
}

/* Learning FAQ
* = "css reset" - all elements have 0 margin & 0 padding in ALL browswers initially
border-box = includes the padding and border in the width and height


*/